
body {
  background-color: mediumaquamarine;
}

#board {
  width: 800px;
  height: 600px;
  border: 1px solid white;
  background-color: black;
  position: relative;
  /* top: calc(50vh - 250px); */
  left: calc(50vw - 250px);
}

#score-board {
  height: 200px;
  width: 300px;
  background-color: mintcream;
  position: fixed;
  top: 100px;
  float: left;
}

.paddle {
  background-color: whitesmoke;
  width: 25px;
  height: 125px;
  position: absolute;
  top: 240px;
}
#ball {
  background-color: whitesmoke;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 390px;
  left: 290px;
  border-radius: 15px;
}

#leftPaddle {
  left: 25px;
}

#rightPaddle {
  left: 750px;
}

.player-score {
  font-size: 2em;
  font-weight: 500;
  font-family: 'American typewriter', serif;

}